{%extends 'blog/base.html'%}
{% load static %}
{% block css_additional %} <link rel="stylesheet" href="{% static 'blog/css/information.css'%}"> {% endblock %}
{% block title %} Образование {% endblock %}


{% block content %}
  <p><a href="{% url 'information' %}">Главная</a></p>
  <p>В 2024 году я заканчиваю обучение в вузе КубГТУ </p>
  <a href="https://kubstu.ru/"><img src="https://best-edu.ru/assets/img/about-smi/kubstu.webp" width="400px" height="400px"></a>
  <p>Кафедра кибербезопасности и защиты информации</p>
  <p>Институт компьютерных систем и информационной безопасности (ИКСиИБ)</p>
  <p>Моя специальность: 10.03.01 Информационная безопасность (Бакалавриат)</p>
  <p>Моя группа: 20-КБ-ИБ2</p>




{% endblock %}
