{%extends 'blog/base.html'%}
{% block title %} Программирование {% endblock %}


{% block content %}
  <p><a href="{% url 'information' %}">Главная</a></p>
  <p>Я изучаю язык программирования Python</p>
  <p>Изучил базовый синтаксис, основы ООП, HTML и CSS, изучаю фреймворк Django</p>
  <p>Мои сертификаты обучения:</p>
  <img src="https://stepik.org/certificate/02cae2578a6726cb8e471c1fd5d00f16dc6fa3bd.png?resolution=medium" width="800px" height="600px" >
  <p><a href="https://stepik.org/cert/1972907">ссылка на данный сертификат</a></p>
  <br>
  <img src="https://stepik.org/certificate/8eafbada2bbb39175cbea449834b3b8a672cdfbe.png?resolution=medium" width="800px" height="600px" >
  <p><a href="https://stepik.org/cert/2036336">ссылка на данный сертификат</a></p>
  <br>
  <img src="https://stepik.org/certificate/e5cb6a2ae15ff57ab2bb677fd6e1ee911e8bd364.png?resolution=medium" width="800px" height="600px" >
  <p><a href="https://stepik.org/cert/2183958">ссылка на данный сертификат</a></p>
  <br>



{% endblock %}
