{% block content %}
{% load static %}
{% block css_additional %} <link rel="stylesheet" href="{% static 'biblioteka/css/table.css'%}"> {% endblock %}
<style>
  body {
    background-image: url('https://klike.net/uploads/posts/2022-11/1668332056_2-3.jpg');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
</style>
<div class="container">
  <h2>Изменить данную Книгу</h2>
  <form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Сохранить изменения</button>
  </form>
  <a href="{% url 'display_books' %}">Вернуться на Книги</a>
</div>
{% endblock %}
