/* Создаем фон с использованием синего и зеленого цветов */
body {
  background-image: linear-gradient(to bottom, #3498db, #2ecc71);
}

/* Устанавливаем стили для текста */
body, h2, h3, p, ul {
  font-family: Arial, sans-serif; /* Шрифт */
  font-size: 18px; /* Размер текста */
  line-height: 1.6; /* Интерлиньяж (межстрочный интервал) */
  color: #333; /* Цвет текста */
}

/* Улучшаем читаемость параграфов */
p {
  color: #444; /* Цвет текста для параграфов */
}

/* Разноцветный текст для h2 */
h2 {
  color: navy;
  font-size: 24px; /* Увеличенный размер h2 заголовков */
}

/* Разноцветный текст для h3 */
h3 {
  color: darkred;
  font-size: 20px; /* Увеличенный размер h3 заголовков */
}

/* Стили для ссылок */
a:link,
a:visited {
  color: #052985; /* Цвет ссылок (оранжевый) */
  text-decoration: none; /* Убираем подчеркивание */
  transition: color 0.2s; /* Плавное изменение цвета при наведении */
}

/* Подсветка ссылок при наведении */
a:hover {
  color: #052985; /* Новый цвет при наведении (красный) */
  background-color: #fff; /* Фон становится белым */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Добавляем небольшую тень */
}

/* Подсветка при нажатии */
a:active {
  color: #333; /* Возврат к цвету при активации (текста параграфа) */
  background-color: #fff; /* Фон становится белым */
}

/* Выравниваем все элементы по центру */
body, h2, h3, p, ul {
  text-align: center;
}

/* Центрируем изображения (img) */
img {
  display: block;
  margin: 0 auto;
}

/* Убираем маркеры у неупорядоченных списков */
ul {
  list-style-type: none;
}