{% block content %}
{% load static %}
{% block css_additional %} <link rel="stylesheet" href="{% static 'biblioteka/css/table.css'%}"> {% endblock %}
<style>
  body {
    background-image: url('https://catherineasquithgallery.com/uploads/posts/2021-02/1613624994_47-p-fon-dlya-prezentatsii-o-pisatele-53.jpg');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
</style>
<div class="container">


  <h2>Добавить Author(Автора)</h2>
  <form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Добавить</button>
  </form>
  <a href="{% url 'display_authors' %}">Вернуться на Authors</a>
</div>
{% endblock %}