{% block content %}
{% load static %}
{% block css_additional %} <link rel="stylesheet" href="{% static 'biblioteka/css/table.css'%}"> {% endblock %}
<style>
  body {
    background-image: url('https://catherineasquithgallery.com/uploads/posts/2021-02/1612871877_81-p-foni-dlya-proekta-krasnaya-kniga-89.jpg');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
</style>
<div class="container">
  <h2>Вывод таблицы Жанров</h2>
  <table border="1">
    <thead>
      <tr>
        <th>id</th>
        <th>Название</th>
        <th>Тип</th>
        <th>Рейтинг</th>
        <th>Описание</th>
      </tr>
    </thead>
    <tbody>
      {% for genre in genres %}
        <tr>
          <td>{{ genre.genre_id }}</td>
          <td>{{ genre.title }}</td>
          <td>{{ genre.type }}</td>
          <td>{{ genre.rating }}</td>
          <td>{{ genre.description }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <br>
  <a href="{% url 'display_genres' %}">Вернуться на Жанры</a>
  <a href="{% url 'export_genres_to_excel' %}">Отчёт в Excel</a>
</div>
{% endblock %}
